<br /><br /><br /><br /><br /><br />
<body background="">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a
          href="/farmer"
          role="button"
          class="btn btn-outline-primary btn-lg btn-block text-center"
        >
          <span><i class="fa fa-users"></i></span>
          <br />Farmer
        </a>
      </div>
      <div class="col-sm">
        <a
          href="/dealer"
          role="button"
          class="btn btn-outline-primary btn-lg btn-block text-center"
        >
          <span><i class="fa fa-users"></i></span>
          <br />Dealer
        </a>
      </div>
      <div class="col-sm">
        <a
          href="/crops"
          role="button"
          class="btn btn-outline-primary btn-lg btn-block text-center"
        >
          <span><i class="fa fa-users"></i></span>
          <br />Crops
        </a>
      </div>
    </div>
  </div>
</body>
