<div class="border">
  <button (click)="open(content)" class="btn btn-md btn-outline-primary">
    <i class="fa fa-user"></i>New Farmer
  </button>
</div>
<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Farmerid</th>
        <th>Farmername</th>
        <th>Phoneno</th>
        <th>Farmermailid</th>
        <th>Farmerlocation</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let farmer of farmers">
        <td>
          <span>{{ farmer.farmerid }}</span>
        </td>
        <td>
          <span>{{ farmer.farmername }}</span>
        </td>
        <td>
          <span>{{ farmer.phoneno }}</span>
        </td>
        <td>
          <span>{{ farmer.farmermailid }}</span>
        </td>
        <td>
          <span>{{ farmer.farmerlocation }}</span>
        </td>
        <td>
          <button class="btn btn-sm btn-info">
            <i class="fa fa-search"></i>Details
          </button>
          <button class="btn btn-sm btn-warning">
            <i class="fa fa-edit"></i>Edit
          </button>
          <button class="btn btn-sm btn-danger">
            <i class="fa fa-remove"></i>Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
}
<!--Adding New Farmer-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Friend</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="farmerid">Farmerid</label>
        <div class="input-group">
          <input id="farmerid" name="farmerid" class="form-control" ngModel />
        </div>
      </div>
      <div class="form-group">
        <label for="farmername">Farmername</label>
        <div class="input-group">
          <input
            id="farmername"
            name="farmername"
            class="form-control"
            ngModel
          />
        </div>
      </div>
      <div class="form-group">
        <label for="phoneno">Phoneno</label>
        <div class="input-group">
          <input id="phoneno" name="phoneno" class="form-control" ngModel />
        </div>
      </div>
      <div class="form-group">
        <label for="farmermailid">Farmermailid</label>
        <div class="input-group">
          <input
            id="farmermailid"
            name="farmermailid"
            class="form-control"
            ngModel
          />
        </div>
      </div>
      <div class="form-group">
        <label for="farmerlocation">Farmerlocation</label>
        <div class="input-group">
          <input
            id="farmerlocation"
            name="farmerlocation"
            class="form-control"
            ngModel
          />
        </div>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Cancel
    </button>
  </div>
</ng-template>
