<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-item nav-link" routerLink="/">CropDeal</a>
    <button
      class="navbar-toggler"
      (click)="toggleNavBar()"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="Active"
          >Home <span class="sr-only"></span
        ></a>
        <a
          class="nav-item nav-link"
          routerLink="signup"
          routerLinkActive="Active"
          >SignUp</a
        >
        <a
          class="nav-item nav-link"
          routerLink="login"
          routerLinkActive="Active"
          >Login</a
        >
        <a
          class="nav-item nav-link"
          routerLink="sfarmer"
          routerLinkActive="Active"
          >Farmer</a
        >
        <a
          class="nav-item nav-link"
          routerLink="sdealer"
          routerLinkActive="Active"
          >Dealer</a
        >
        <a
          class="nav-item nav-link"
          routerLink="admin"
          routerLinkActive="Active"
          >Admin</a
        >
        <a class="btn btn-danger" routerLink="/logout" routerLinkActive="Active"
          >Logout</a
        >
      </div>
    </div>
  </nav>
</nav>
