<div class="container mt-5">
  <div class="body">
    <div class="row">
      <div class="col-md-3 col-sm-3" *ngFor="let p of Product">
        <div class="card-header bg-light" style="width: 15rem">
          <div class="row align-items-center">
            <img
              class="card-img-top"
              src="{{ p.ProductPath }}"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ p.Name }}</h5>
            <h4 class="card-title">{{ p.Price | currency }}</h4>
            <p class="card-text">{{ p.Desc }}</p>
            <!-- <button class="btn btn-primary">Available With Farmer1</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
